#showcase {
  background: url('../imgs/showcase.jpg') no-repeat center center;
  background-size: 100%;
  height: 400px;
  color: #fff;
}

#ExpProf {
  height: 200px;
}

#ExpProf h3{
  padding: 40px;
}